    <div class="container">
      <div class="row">


        <div class="col-md-3 project-bord">
              
            <div class="mb-4">
              <h5>Categories</h5>
              {{#each blogCategories}}
              <div><a href='#'>{{this}}</a></div>
              {{/each}}
            </div>
            <hr>
            <div class="mb-4">
              <h5>Resources</h5>
              <div><a href='#'>Js console</a></div>
              <div><a href='#'>Image Gallery</a></div>
              <div><a href='#'> Bouncing Balls</a></div>
              <div><a href='#'>Matrix Effect</a></div>
            </div>

          </div>




          <div class="col-md-9">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/blog">Blog</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{blog.name}}</li>
            </ol>
          </nav>
          <h1>{{blog.name}}</h1>
          <p>{{blog.description}}</p>
          <img src="/images/javascript.png" alt="{{blog.alias}}">
        </div>


        </div>
    </div>

        